/* MY ADDITIONAL STYLES */

/* font start */
body{
  font-family: 'Open Sans', sans-serif !important;
}
/* font end */

/* light open sans */
.light-sans{
  font-family: 'Open Sans Light' !important;
  color: #26264b;
  font-weight: initial;
}


/* bg */
.bg-grey{
  background-color: #e6e6e6;
}
.bg-orange{
  background-color: #FF9D00;
}
.bg-l-orange{
  background-color:#FF9D00;;
}
.bg-blue{
  background-color: #19232e !important;
  /* background-color: #283445; */
}
/* bg */

/* nav */
a.text-primary:hover, a.text-primary:focus{
  color: #4D4D55 !important;
}
/* nav */

/* map */
.map{
  height: 45vh;
  width: 100%;
}
/* map */

/* services cards */
#digital-solutions .card,
#cloud-services .card,
#devices .card,
#consulting .card{
  border: none;
}
/* services cards */

/* swervice spacer */
.service-spacer{
  padding: 4rem;
}
/* swervice spacer */


.list-group-flush:last-child .list-group-item:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .dropdown-toggle::after{
    border-right: none;
    border-left: none;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  /* .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  } */
  

   
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/* scroll to top */
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}

.strip{
  border-top: solid 1.5em #4D4D55;
}

/* smaller hero */
.hero-sm{
  height: 50vh;
}
.hero-xsm{
  height: 33vh;
}
.hero-xsm h1{
    margin-bottom: 15rem !important;
}

.home-hero{
  height: 76vh;
}


/* list group */
.list-group-item,
.list-group-flush:last-child .list-group-item:last-child{
  border: none;
  border-bottom: solid 1px #e6e6e6;
}
/* list group */

.dark-grey{
  color: #333 !important;
}

button.btn-primary:hover{
  background-color: #FF9D00 !important;
  color: #FF9D00 !important;
}

.btn::after{
  background-color: #444;
}

.form-control{
  border: none;
}

/* Products page */
.products-3rd{
  width: 100%;
  height: 100%;
}
/* Products page */

/* industry page */
.industry h5{
  font-size: 2rem;
}

.top-text{
  border-bottom: 5px solid #FF9D00;
  
}

.industry .industry-img{
  padding: 0;
}

.industry-img img{
  width: 100%;
  height: 100%;
}

.industry-info p {
  color: #19232E;
}

.industry-strip{
  /* background-color: #26264b; */
  /* background-color: #333 !important; */
  background-color: #19232E !important;
}

.industry-strip .btn,
.industry-strip .btn:after{
  border-radius: unset !important;
}
/* industry page */

/* IT / Consulting page */
.consulting-page .header div img{
  width: 100%;
  height: 100%;
}
/* IT / Consulting page */

.hide{
  display: none !important;
}

.no-border{
  border-bottom: unset !important;
}

.square-btn{
  border-radius: unset !important;
}
.square-btn::after{
  border-radius: unset !important;
}

/* home */
.home-service-icon-container{
  width: 50px;
  height: 50px;
}
.home-service-icon-container img{
  /* object-fit: contain; */
  width: inherit;
  height: inherit;
}
.home-service-icon{
  object-fit: contain;
}

.social-color{
  background-color: #19232E !important;
}
.subscribe-widget .social-nav a{
  background-color: #19232E;
}
/* home */

.icon{

}

/* .icon */

.bg-red{
  background-color: #ee1515;
}