

/* Mobile screens */
@media only screen and (max-width: 425px ){
    /* header */
    .navbar-collapse{
        border-top: 2px solid #F0640C;
    }
    /* header */

    /* hero */
    .hero{
        height: 45vh;
    }

    .hero .single-slide{
        margin-bottom: 17rem;
    }

    .hero .swiper-slide{
        margin-left: unset;
        margin-right: unset;
    }

    .hero .slide-content h1{
        margin-bottom: unset;
    }
    .hero .slide-content p{
        padding: 14px 0 0px 30px;
    }
    .hero .slide-content p br{
        display: none;
    }

    .hero-sm .pt-5{
        padding-top: unset !important;
    }

    .hero-sm .mb-5{
        margin-bottom: 5rem !important;
    }
    /* hero */

    /* about */
    /* about */

    /* solutions */
    .services h5,
    .services {
        text-align: center !important;
    }

    .cs-it-services,
    .cs-it-services div{
        padding-left: unset;
        padding-right: unset;
        margin-right: unset;
        margin-left: unset;
    }

    .cs-it-services h5{
        text-align: center !important;
    }
    .cs-it-services p{
        padding-left: 1rem;
    }

    .cs-it-services .services-home a{
        padding-left: 1rem !important;
    }

    .cs-it-services .consulting{
        margin-top: 50px;
    }
    .cs-it-services .consulting p{
        margin-right: 1rem;
    }
    .cs-it-services .consulting a{
        text-align: left;
    }
    /* solutions */

    /* clients slider */
    .clients-slider .swiper-slide{
        margin: unset;
    }
    /* clients slider */

    /* vision-mission */
    #vision-mission .title{
        margin-top: 2rem;
        text-align: center;
    }

    #vision-mission p{
        margin-top: 1rem;
    }

    #mission .wrap{
        flex-direction: column !important;
    }

    #mission .box{
        width: 80%;
    }
    #mission .box h1{
        padding-top: 2rem !important;
    }

    #message .card{
        flex-direction: column;
    }

    #message .img-content{
        width: 90%;
        margin: auto;
    }
    #message .info-content{
        width: 100%;

    }
    #message .info-content .user-bio{
        margin: 1rem !important;
        padding-left: unset !important;
    }

    .products-page-content .digital-services .border-bottom{
        /* border-bottom: 1px solid #777 !important; */
        border-bottom: unset !important;
    }
    .products-page-content .digital-services .service{
        border-bottom: 1px solid #777 !important;
        /* border-bottom: unset !important; */
        margin-bottom: unset !important;
        padding-bottom: 1rem !important;
    }

    .products-page-content .cloud-services{
        margin-top: unset !important;
    }
    .products-page-content .cloud-services .service{
        border-bottom: 1px solid #777 !important;
        padding-bottom: 1rem;
    }
    .products-page-content .cloud-services .service:last-child{
        border-bottom: unset !important;
        padding-bottom: 1rem;
    }

    .products-page-content .consulting .service{
        border-top: 1px solid #777 !important;
        padding-top: 1rem;
        margin-top: unset !important;
    }
    .products-page-content .consulting .border-bottom,
    .products-page-content .consulting .border-top{
        border: unset !important;
    }

    .products-page-content .service p{
        margin-top: 1rem;
    }

    .industries .industry{
        margin: auto;
    }
    .industries .industry .pl-3{
        padding-left: unset !important;
    }
    .industries .industry .title{
        padding-left: unset;
    }

    .contact-message .row{
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0.5rem !important ;
    }

    .contact-message .px-4{
        padding-right: 0.5rem !important;
    }

    .contact-message .contact-widget{
        /* width: 100%; */
        padding-left: unset !important;
        padding-right: unset !important;
    }
    .contact-message .contact-form{
        width: 100%;
        padding: unset !important;
        overflow: hidden;
    }

    .contact-message form{
        flex-direction: column !important;
    }

    .consulting-page .content{
        padding-left: unset !important;
        padding-right: unset !important;
    }
    .consulting-page .left h4{
        text-align: left;
    }

    .consulting-page .right{
        margin-left: unset !important;
        padding-left: unset !important;
        padding-right: unset !important;
    }
}


/* Tablet screens */
@media only screen and (max-width: 425px ){
    
}

